<md-toolbar>  
    <h2>Please select a date and timeslot:</h2>
    <md-toolbar-row>
        <md-select mdInput placeholder="Please select a date"  name="day" [(ngModel)]="dateInput">
                    <md-option *ngFor="let day of forwardDays" [value]="day.valueOf()">
                        {{day | date:'MMM-dd'}}
                    </md-option>
                </md-select>
            <md-select mdInput placeholder="Please select a timeslot" [(ngModel)]="slotId">
            <md-option *ngFor="let slot of timeslots; let i = index" [value] = "i">
                {{slot.startDate  | date:'H:mm' }} - {{slot.endDate  | date:'H:mm' }}
            </md-option>
        </md-select> 
    </md-toolbar-row>
</md-toolbar>
<p></p>    

<div *ngIf="activeReservations.length > 0">
    <md-toolbar><p>You actually have the following reservations on {{scheduleDay | date:'y-MM-dd'}} at {{slot.startDate  | date:'H:mm' }} - {{slot.endDate  | date:'H:mm' }}</p></md-toolbar>

    <table class="reservations">
        <thead>
            <tr color="primary">
            <th>Club</th>
            <th>Court</th>
            <th>TimeSlot</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of activeReservations">
              <td>{{ reservation.court.courtClub.clubName }}</td> 
              <td>{{ reservation.court.courtName }}</td>
              <td><app-timeslot [slot]="reservation.timeSlot"></app-timeslot></td>
              <td>
                <button *ngIf="reservation.timeSlot.startDate >= now" md-raised-button color="warn" (click)="dialogsService.openUnreserveDialog(reservation)">
                  <md-icon>close</md-icon> 
                  Unreserve
                </button>
              </td>
            </tr>
        </tbody>
    </table>
        
</div>

<div *ngIf="activeDayReservations.length > 0">
    <md-toolbar><p>You actually have the following reservations on {{scheduleDay | date:'y-MM-dd'}}</p></md-toolbar>

    <table class="reservations">
        <thead>
            <tr color="primary">
            <th>Club</th>
            <th>Court</th>
            <th>TimeSlot</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of activeDayReservations">
                <td>{{ reservation.court.courtClub.clubName }}</td> 
                <td>{{ reservation.court.courtName }}</td>
                <td><app-timeslot [slot]="reservation.timeSlot"></app-timeslot></td>
                <td>
                <button *ngIf="reservation.timeSlot.startDate >= now" md-raised-button color="warn" (click)="dialogsService.openUnreserveDialog(reservation)">
                    <md-icon>close</md-icon> 
                    Unreserve
                </button>
                </td>
            </tr>
        </tbody>
    </table>
        
</div>
    



<div *ngIf="possibleReservations.length > 0">
    <md-toolbar  *ngIf="slot"><p *ngIf="slot">Available courts on {{scheduleDay | date:'y-MM-dd'}} at {{slot.startDate  | date:'H:mm' }} - {{slot.endDate  | date:'H:mm' }}</p></md-toolbar>

    <table class="reservations">
        <thead>
            <tr color="primary">
            <th>Club</th>
            <th>Court</th>
            <th>TimeSlot</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of possibleReservations">
                <td>{{ reservation.court.courtClub.clubName }}</td> 
                <td>{{ reservation.court.courtName }}</td>
                <td><app-timeslot [slot]="reservation.timeSlot"></app-timeslot></td>
                <td>
                    <button *ngIf="userService.user" md-raised-button color="primary" (click)="dialogsService.openReserveDialog(reservation.timeSlot,reservation.court)">
                        <md-icon>check_box</md-icon> 
                        Reserve
                    </button>
                    <button *ngIf="!userService.user" md-raised-button color="primary" (click)="dialogsService.openLoginDialog()">
                        <md-icon>lock_open</md-icon> 
                        Login
                    </button>
                </td>
            </tr>
        </tbody>
    </table>            
</div>
