<md-card class="club-card">
    <md-card-header>
      <div md-card-avatar [style.backgroundImage]="'url('+ club.clubPhoto +')'"></div>
      <md-card-title>{{ club.clubName }}</md-card-title>
      <md-card-subtitle>{{club.clubTotalCourts}} Courts</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <div class="container">
        <div class="column">
          <img [src]="club.clubPhoto" >
        </div>
        <div class="column">
          {{club.clubAddress}}
        </div>
      </div>
      <md-toolbar>
        <button md-raised-button *ngFor="let court of club.clubCourts" (click)="setCourt(court)">{{ court.courtName }}</button>
      </md-toolbar>
      <app-court-calendar [court]="court"></app-court-calendar>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
