<md-card class="club-card">
    <md-card-header>
      <div md-card-avatar [style.backgroundImage]="'url('+ club.clubPhoto +')'"></div>
      <md-card-title>{{ club.clubName }}</md-card-title>
      <md-card-subtitle>{{club.clubTotalCourts}} Courts</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <div class="">
        <div class="column">
          <img md-card-image [src]="club.clubPhoto" >
        </div>
        <div class="column">
          {{club.clubAddress}}
        </div>
      </div>
      <md-tab-group>
        <md-tab *ngFor="let court of club.clubCourts" label="{{ court.courtName }} ">
          
          <md-list>
            <md-list-item *ngFor="let slot of reservations.getNextTimeSlots(12)">
              <app-timeslot [slot] = 'slot'></app-timeslot>
              <app-reservation [slot]="slot" [court]="court"></app-reservation>
            </md-list-item>
          </md-list>
        </md-tab>
      </md-tab-group>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
