<span *ngIf="userService.user; then loggedIn else anonymous"></span>

<ng-template #anonymous>
  <button md-raised-button color="primary" (click)="dialogsService.openLoginDialog()">Please Log In</button>
</ng-template>
<ng-template #loggedIn>
    <md-toolbar><h2>User profile for {{userService.user.userName}}</h2></md-toolbar>
    <img class="user-image" src="{{userService.user.userPhoto}}" />
    <p>Name: {{userService.user.userName}}</p>
  
  <div *ngIf="upcomingReservations.length > 0"> 
  <md-toolbar><h3>Upcoming Reservations</h3></md-toolbar>
  <table class="reservations">
    <thead>
      <tr color="primary">
        <th>Club</th>
        <th>Court</th>
        <th>TimeSlot</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tr *ngFor="let reservation of upcomingReservations">
      <td>{{ reservation.court.courtClub.clubName }}</td> 
      <td>{{ reservation.court.courtName }}</td>
      <td><app-timeslot [slot]="reservation.timeSlot"></app-timeslot></td>
      <td>
      <button *ngIf="reservation.timeSlot.startDate >= now" md-raised-button color="warn" (click)="dialogsService.openUnreserveDialog(reservation)">
          <md-icon>close</md-icon> 
          Unreserve
        </button>
      </td>
    </tr>
  </table>
  </div>
  <div *ngIf="previousReservations.length > 0">
  <md-toolbar><h3>Previous Reservations</h3></md-toolbar>
  <table class="reservations">
    <thead>
      <tr color="primary">
        <th>Club</th>
        <th>Court</th>
        <th>TimeSlot</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tr *ngFor="let reservation of previousReservations">
      <td>{{ reservation.court.courtClub.clubName }}</td> 
      <td>{{ reservation.court.courtName }}</td>
      <td><app-timeslot [slot]="reservation.timeSlot"></app-timeslot></td>
      <td>
        <button *ngIf='reservation.timeSlot.startDate < now' md-raised-button color="warn" color="accent"><md-icon>remove_circle</md-icon> Expired</button>    
      </td>
    </tr>
  </table>
  </div>
</ng-template>