/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.spacer{
    flex: 1 1 ;
}

.wide{ 
    display: none;
}

@media (min-width: 40em){
    .wide{
        display:inline;
    }
}
@media (min-width: 65em){

}