table{
    width:100%;
    text-align: center;
}
thead th{
    border-bottom: 1px solid #ccc;
    border-left:0;
    border-right: 0;
    font-size: 1.2em;
    padding: 0;
    margin-bottom:1em;
}
tbody th{
    border-right: 1px solid #ccc;
    font-size: 1.2em;
    padding:1em 0em;
}
tbody tr{
    border-bottom: 1px dashed #ddd
}